body {
  font-family: "Mulish", sans-serif;
  color: #002333;
  background-color: #fdfbf8;
  /* background-color: #f2f4fd; */
}

#nprogress .bar {
  @apply !bg-purple-500;
}

ol,
ul {
  padding: revert;
  list-style: revert;
}

.circle-gradient {
  background: linear-gradient(
    135.78deg,
    #27187e -30.81%,
    rgba(117, 139, 253, 0) 114.28%
  );
}

.social-icon {
  @apply w-6 h-6 mr-4 last:mr-0;
}

.slick-slide {
  padding: 0 16px;
  margin: 0;
  box-sizing: border-box;
}

.backdrop {
  @apply fixed top-0 left-0 right-0 bottom-0 z-10 bg-black bg-opacity-50;
}

.image-gallery {
  @apply w-full h-500 object-cover rounded-xl;
}

.image-gallery-picker {
  @apply w-full h-full object-cover rounded-xl overflow-hidden;
}

.image-picker-container .swiper-slide {
  position: relative;
}

.image-picker-container .swiper-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  border-radius: 0.75rem;
  opacity: 0.6;
}

.image-picker-container .swiper-slide-thumb-active {
  opacity: 1;
}

.image-picker-container .swiper-slide-thumb-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  border-radius: 0.75rem;
}

.ql-container.ql-snow {
  @apply rounded-bl-md rounded-br-md !border-gray-300;
}

.ql-toolbar.ql-snow {
  @apply rounded-tl-md rounded-tr-md !border-gray-300;
}

.ql-editor.ql-blank::before {
  @apply text-base !not-italic;
}

.ql-editor {
  @apply text-base;
}

.comment .ql-editor {
  @apply !h-52;
}

.about-company .ql-editor {
  @apply !h-52;
}

.option-select {
  @apply px-4 py-2 hover:bg-purple-300 font-medium transition-all duration-200 ease-in-out cursor-pointer;
}

.sp {
  clear: both;
  margin: 0 auto;
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px solid rgb(0, 35, 51, 0.25);
  border-top: 4px solid rgb(0, 35, 51, 1);
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear;
}
@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.box-dashed {
  background-image: repeating-linear-gradient(
      -26deg,
      #7c3aed,
      #7c3aed 22px,
      transparent 22px,
      transparent 35px,
      #7c3aed 35px
    ),
    repeating-linear-gradient(
      64deg,
      #7c3aed,
      #7c3aed 22px,
      transparent 22px,
      transparent 35px,
      #7c3aed 35px
    ),
    repeating-linear-gradient(
      154deg,
      #7c3aed,
      #7c3aed 22px,
      transparent 22px,
      transparent 35px,
      #7c3aed 35px
    ),
    repeating-linear-gradient(
      244deg,
      #7c3aed,
      #7c3aed 22px,
      transparent 22px,
      transparent 35px,
      #7c3aed 35px
    );
  background-size: 2px calc(100% + 38.94px), calc(100% + 38.94px) 2px,
    2px calc(100% + 38.94px), calc(100% + 38.94px) 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 2s infinite linear;
  border-radius: 10px;
}

@keyframes borderAnimation {
  from {
    background-position: 0 0, -38.94px 0, 100% -38.94px, 0 100%;
  }
  to {
    background-position: 0 -38.94px, 0 0, 100% 0, -38.94px 100%;
  }
}
